

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;

}
.logo{
    margin: 2em;
}
.list-items{
    color: white;
    display: flex;
    margin: 1rem;
    height: 3rem;
}
ul{
    list-style: none;
}
.list-items>li{
    padding: 10px;
    cursor: pointer;
}